# Client
VITE_APP_NAME=Collabify
VITE_API_BASE_URL=http://localhost:3000/api/v1

# Supabase public client
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PROFILE_ASSETS_BUCKET=profile-assets
VITE_SUPABASE_SYLLABI_BUCKET=syllabi
VITE_SUPABASE_CURRICULA_BUCKET=curricula
VITE_SUPABASE_PROJECT_FILES_BUCKET=project-files
VITE_SUPABASE_MESSAGE_ATTACHMENTS_BUCKET=message-attachments
VITE_SUPABASE_ANNOUNCEMENT_ATTACHMENTS_BUCKET=announcement-attachments

# Realtime
VITE_ENABLE_REALTIME=true
